node_modules/
package-lock.json
dist/
.env
.DS_Store
*.log
coverage/
.vscode/
.idea/
*.tmp
*.bak
*.swp
*.orig
*.cache
*.pid
*.tgz
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe
*.dll
*.so
*.dmg
*.pkg
*.deb
*.rpm
*.msi
